<h1>Editing Slide</h1>

<%= render 'form', slide: @slide %>

<%= link_to image_tag("/assets/ico/glasses.svg", height: '24', width: '24') + " Show", @slide, class: "btn btn-small btn-primary" %>
<%= link_to image_tag("/assets/ico/back.png", height: '24', width: '24') + " Back", slides_path, class: "btn btn-small btn-warning" %>
