<div class="bible">
  <div class="bible_background">
  </div>

  <div class="quote">
    <%= @biblical.quote %>
  </div>

  <div class="portrait">
    <img src="/assets/bible.png" style="width:10vw;">
  </div>

  <div class="source_box">
    <div class="source_titre">
      <%= @biblical.source %>
    </div>
  </div>
</div>