<div class="bible_background">
</div>


<div class="citation">
<%= @biblical.citation %>
</div>


<div class="bible">
  <img src="/assets/bible.png" style="height:40%; width:40%;">
</div>


<div class="source_box">
  <div class="source_txt">
    <%= @biblical.source %>
  </div>
</div>
