<div class="learn">
  <div class="learn_background">
  </div>

  <div class="citation">
    <%= @learn.citation %>
  </div>

  <div class="portrait">
    <img src="<%= @learn.picture.url(:full, timestamp: false) %>" style="height: 40%; width:40%;">
  </div>

  <div class="source_box">
    <div class="source_txt">
      <%= @learn.source %>
    </div>
  </div>
</div>
