
<% if @settings.full_welcome %>

  <% @slides.each do |s| %>
    <% if (s.welcome) %>
      <img src="<%= s.picture.url(:full, timestamp: false) %>" style="height:100vh; width:100vw;">
    <% end %>
  <% end %>

<% else %>

  <div class='title'><%= @settings.slider_message %></div><br><br><br>

  <% @slides.each do |s| %>
    <% if (s.welcome) %>
      <div class="welcome_image">
      <img src="<%= s.picture.url(:large, timestamp: false) %>" style="height:100%; width:100%;">
      </div>
    <% end %>
  <% end %>

<% end %>
