<h1>New Student</h1>

<%= render 'form', student: @student %>

<%= link_to image_tag("/assets/ico/back.png", height: '24', width: '24') + " Back", students_path, class: "btn btn-small btn-warning" %>
