<h1>Hello world</h1>

<% if Rails.env == 'development' %>
  <h2>Infos</h2>
  <p>
  Systeme : <%= @archi %><br>
  Espace disque / : <%= @slash %> %<br>
  IP : <%= @ip %>
  </p>
<%end%>

<object data="http://saintesprit.com/pdf/resto/ecole.pdf" type="application/pdf" width=70% height=1000>
  alt : <a href="http://saintesprit.com/pdf/resto/ecole.pdf">test.pdf</a>
</object>