<h1>Editing Event</h1>

<%= render 'form', event: @event %>

<%= link_to image_tag("/assets/ico/glasses.svg", height: '24', width: '24') + " Show", @event, class: "btn btn-small btn-primary" %>
<%= link_to image_tag("/assets/ico/back.png", height: '24', width: '24') + " Back", events_path, class: "btn btn-small btn-warning" %>
