<h1>Editing Saint</h1>

<%= render 'form', saint: @saint %>

<%= link_to image_tag("/assets/ico/glasses.svg", height: '24', width: '24') + " Show", @saint, class: "btn btn-small btn-primary" %>
<%= link_to image_tag("/assets/ico/back.png", height: '24', width: '24') + " Back", saints_path, class: "btn btn-small btn-warning" %>
