/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";



@font-face {
  font-family: "Sketch";
  src: url(font-path('Sketch_Coursive.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aire";
  src: url(font-path('SouthernAire_Personal_Use_Only.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vampire";
  src: url(font-path('VampireCalligraphy-TTF.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Comica";
  src: url(font-path('Engcomica.otf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}



h1 {
  font-family: "Sketch";
  font-size: 350%;
  color: #646464;
}

h2 {
  font-family: "Vampire";
  font-size: 300%;
  color: #646464;
}
